@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

$soft_blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main_bg: hsl(217, 54%, 11%);
$card_bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

body {
    font-family: outfit;
    background-color: $main_bg;
    margin: 0;
    padding: 0;
}

.main {
    margin: 1.3rem auto;

    display: flex;
    flex-direction: column;

    padding: 10px;
    background-color: $card_bg;
    width: 320px;
    height: 90%;
    border-radius: 10px;

    box-shadow: 8px 8px 10px black;

    #nftMain {
        margin: 10px;

        :hover {
            background-color: $cyan;
            opacity: 50%;
        }
    }

    #description {
        margin: 10px;
        color: $soft_blue;
    }

   h2 {
       margin: 10px;
       color: #fff;
   }

   .info {
       margin: 10px;
   }

    footer {
        display: flex;
        flex-grow: 0;
        border-top: $line solid 1px;
        padding: 10px;

        #avatar {
            height: 40px;
            border: 1px solid $white;
            border-radius: 50%;
            align-self: center;
        }

        #copyright {
            margin: 0;
            padding: 10px 20px;
            color: $soft_blue;
            word-spacing: 2px;

            :hover{
                color: $cyan;
            }

            a {
                color: $white;
                word-spacing: 0px;
                text-decoration: none;

            }
        }
    }
}


.info ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 0;
    
}

.info ul li{
    display: flex;
    align-items: center;
    list-style: none;
    color: $soft_blue;
    
    :nth-child(1){
        margin: 0px;
    }
    
    #price {
        padding: 7px;
        color: $cyan;
    }

    #date {
        padding: 7px;
    }

}




